<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-uppercase" id="mainNav">
    <div class="container">
        <div class="button navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </div>
        <a href="/" class="navbar-brand js-scroll-trigger"> {{ .Site.Title }}</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link ">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#fotos" class="nav-link js-scroll-trigger">Fotos</a>
                </li>
                <li class="nav-item">
                    <a href="#blog-posts" class="nav-link js-scroll-trigger">Blog Posts</a>
                </li>
                <li class="nav-item">
                    <a href="#contactus" class="nav-link js-scroll-trigger">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>