<!-- Posts section -->
<h2 class="text-center">3 Columns</h2>
<div class="blog py-4">
    <div class="row">
        <div class="col-sm-4">
            <h2> School History </h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
 
        </div>
        <div class="col-sm-4">
                <h2> School News </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
    

        </div>
        <div class="col-sm-4">
                <h2> School Music </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, officia! Soluta provident delectus quasi eos omnis sit ad non debitis obcaecati quaerat quibusdam vero ab ea, deserunt iure nemo consequatur eaque minus id rem similique dolor harum adipisci praesentium. Voluptatibus! </p>
    

        </div>       
    </div>
</div>