<!-- Posts section -->
<h2 class="text-center">Blog Posts</h2>
<div class="blog py-4">
    <div class="row">

            {{ $.Scratch.Set "count" 0 }}
            {{ range  (where .Site.RegularPages "Section" "in" (slice "blog")) }}    
                {{ $.Scratch.Add "count" 1 }}

     
            <div class="col-md-4 col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-img">
                    <img src="/img/{{.Params.image}}" class="img-fluid">
                </div>

                <div class="card-body">
                    <h4 class="card-title">  {{.Title}}   {{$.Scratch.Get "count"}} </h4>
                    <p class="card-text">
                             praesentium temporibus totam perspiciatis doloribus quas molestias officia voluptatum, suscipit error officiis fugit.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{{ .Permalink }}" class="card-link">Read more</a>
                </div>
            </div>
        </div>  
        {{end}}


    </div>
</div>