<!-- 
{{ with .Site.GetPage "/value" }}

  <h2>{{ .Title }}</h2>
 
  {{range $index, $element := .Params.values}}
  {{ $element.heading }} <br/>
  {{ $element.imageUrl }} <br/>
  {{ end }}

{{ end }} -->


<div class="card" >
  <div class="card-body">

<div id="mainSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">

  {{ with .Site.GetPage "/value" }} 
    {{range $index, $element := .Params.values}}
        {{ if eq ($index) 0}}
          <li data-target="#mainSlider" class="active" data-slide-to="{{ $index }}" class="active"></li>
        {{else}}
          <li data-target="#mainSlider" data-slide-to="{{ $index }}"></li>
        {{end}}
    {{ end }}
  {{ end }}




    </ol>
    <div class="carousel-inner">
        {{ $.Scratch.Set "active" "" }}

        {{ with .Site.GetPage "/slider" }} 
        {{range $index, $element := .Params.values}}
          {{ $.Scratch.Set "active" " " }}
          {{ if eq ($index) 0}}
            {{ $.Scratch.Set "active" "active" }}
          {{end}}
          <div class='carousel-item {{ $.Scratch.Get "active" }}'>
               <img class="d-block w-100" src="{{ $element.imageUrl }}" alt="{{ $element.heading}}">

               {{ with .Resources.ByType "image" }}
               hello
                {{ end }}   
               {{$imageFName := replace $element.imageUrl "/images/" "" }} 4 {{$imageFName}}5
               {{ with .Page.Resources.GetMatch $imageFName }}  match
                {{ $image640x := (.Fill "746x320 smart") }}
                      <img src="{{ $image640x.RelPermalink }}" class="d-block w-100 " alt="{{ $image640x.Name }}">
                 {{ end }} 

            
          </div>
        {{end}}
        {{ end }}

      <div class="carousel-item">
        <div  class="embed-responsive embed-responsive-21by9">
          <iframe  class="embed-responsive-item" id="player" src="https://www.youtube.com/embed/Qzn7iK2lGlU" allowfullscreen></iframe>
        </div><!-- end .embed-responsive -->
      </div>
    </div>
    <a class="carousel-control-prev" href="#mainSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>