<h2 class="text-center">Sigue Nos en Social Media</h2>
<div class="blog py-4">
    <div class="row">
        <div class="col-md-4">
<!-- InstaWidget -->
<a href="https://instawidget.net/v/user/waldorfpucon" id="link-b228783c9ba31b0f2889abed3d9271acd84093d91a4b0269389d1ad86913ccc8">@waldorfpucon</a>
<script src="https://instawidget.net/js/instawidget.js?u=b228783c9ba31b0f2889abed3d9271acd84093d91a4b0269389d1ad86913ccc8&width=300px"></script>
        </div>

        <div class="col-md-4">
                <div class="fb-page" data-href="https://www.facebook.com/waldorfpucon/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/waldorfpucon/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/waldorfpucon/">Waldorf Pucón - Chile</a></blockquote></div>
        </div>

        <div class="col-md-4">
            <img src=/images/AFICHE-OTOÑO-web.jpg class='img-fluid'>
        </div>
    </div>

</div>
