<!-- Intro Header -->
<header>
    <div class="container">

<div id="P1" class="player bg-secondary" 
     data-property="{videoURL:'http://youtu.be/My4H2ZR8xCg',containment:'#P1',startAt:0,autoPlay:true,loop:false,vol:80,mute:false,opacity:1,optimizeDisplay:true}">
     

     <div class="container text-white">
        <article class="">
             <button class="btn btn-info" onclick="jQuery('#P1').YTPPlay()">Play</button> <button class="btn btn-info" onclick="jQuery('#P1').YTPPause()">Pause</button>
                <button class="btn btn-info" onclick="jQuery('#P1').YTPToggleVolume()">Unmute/Mute</button>
            <!-- {{ .Content }}  -->
        </article>
  

    </div>
</div>
</div>

</header>