{{ define "main" }}
  
  
<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="/images/school-background.jpg">
      <source src="/mp4/waldorfVideo-HD45secs.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
      <div class="d-flex text-center h-100">
        <div class="my-auto w-100 text-white">
          <h1 class="display-3"> </h1>
          <h2> </h2>
        </div>
      </div>
    </div>
  </header>
 
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <p>{{.Content}}</p>
        </div>
      </div>
    </div>
  </section> 
 

    <!-- {{ partial "video-intro.html" . }} -->


<section id="fotos">
  <div class="container">
      <h2 class="text-center">Fotos</h2>
      {{ partial "carousel.html" . }}
  </div>
</section>

<section id="blog-posts">
  <div class="container">
      {{ partial "blog-posts.html" . }}
  </div>
</section>

  <section id="3col">
    <div class="container">
      {{ partial "3col.html" . }}
    </div>
  </section>

<section id="contactus">
  <div class="container">
    {{ partial "contactus.html" . }}
  </div>
</section>



{{ end }}