{{ define "main" }}
  
  
    {{ partial "video-intro.html" . }}

<div class="container">
        {{ partial "carousel.html" . }}

        {{ partial "blog-posts.html" . }}

        {{ partial "3col.html" . }}

        {{ partial "contactus.html" . }}

        {{ partial "social.html" . }}
<!-- 
http://themes.startbootstrap.com/vitality-v2.2.0/video.html

http://wrapbootstrap.com/preview/WB0T1J69J
    look at http://wrapbootstrap.com/preview/WB02K3KK3
for timeline 
    https://startbootstrap.com/template-overviews/agency/
-->
</div>
{{ end }}